* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#main {
  width: 100%;
  height: 100vh;
  background-color: paleturquoise;
  display: flex;
  align-items: center;
  justify-content: center;
}
#panel {
  width: 80%;
  height: 85%;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}
#p-top {
  width: 100%;
  height: 100px;
  background-color: rgb(42, 147, 151);
  display: flex;
  color: #fff;
  padding: 0 30%;
  align-items: center;
  justify-content: space-between;
}
.elem {
  display: flex;
  align-items: center;
  gap: 20px;
}
.box {
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 5px;
  color: rgb(42, 147, 151);
  font-weight: 500;
  font-size: 25px;
}
